<p>start of quote-list</p>

<p># of quotes: {{quotes.length}}</p>

<div *ngFor="let quote of quotes" class="container">

    <div [ngClass]="{quote:true, 'long-quote': quote.quote.length>9}">
        <p *ngFor="let line of quote.quote">{{line}}</p>
    </div>


    <button (click)="bible(quote)" [ngClass]="{active: quote.answer==='bible', bible: true, correct: quote.isCorrect(), wrong: !quote.isCorrect() }" >Bible</button>
    <button (click)="metal(quote)" [ngClass]="{active: quote.answer==='metal', metal: true, correct: quote.isCorrect(), wrong: !quote.isCorrect() }" >Metal</button>

    <div *ngIf="quote.isAnswered()">

        <p *ngIf="quote.isCorrect()">Correct!</p>
        <p *ngIf="!quote.isCorrect()">Wrong!</p>

        <app-quote-metal *ngIf="quote.source === 'metal'" [quote]="quote"></app-quote-metal>
        <app-quote-bible *ngIf="quote.source === 'bible'" [quote]="quote"></app-quote-bible>

        <p *ngIf="!!quote.original && quote.quote!==quote.original">Note: The lines were slightly changed to make it more challenging.<br/>
        <button (click)="quote.quote=quote.original">show original verses</button>
        </p>
        <p *ngIf="!!quote.comment">{{quote.comment}}</p>

        <p>file: {{quote.id}}</p>
    </div>
</div>


<div>
Your score: {{getTotalScore()}}

</div>
