div.container {
    border:3px solid red;
    border-radius: 5em;
    background-color: black;
    color: white;
    text-align: center;
    padding: 3em;
}

div.quote {
    text-align: left;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

div.quote.long-quote {
    font-size: 80%;
}


/*
div.quote>p:first-child::first-letter  {
    font-family: 'UnifrakturCook', cursive;
    font-size: 200%;
    line-height: 100%;
    padding-right: 0.1em;
    display: block;
    float:left;
}
*/

div.quote p {
    margin: 0;
}

button {
    font-family: 'UnifrakturCook', cursive;
    font-size: 150%;
    padding: 0.5em 1em;
    margin: 2em;
    border: 5px solid gray;
    border-radius: 20px;
}
button.active.wrong {
    color: red;
    border-color: red;
}
button.active.correct {
    color: green;
    border-color: green;
}