<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
<div class="section">
    <h1><span class="book">📖</span> <span class="holy">Bible</span> or <span class="unholy"><span class="burn1">M</span><span class="burn2">e</span><span class="burn3">t</span><span class="burn4">a</span><span class="burn5">l</span></span> <span class="horns">🤘</span></h1>

    <ng-container *ngIf="!production">
        <p>This is not production mode!!!</p>
        <p>Bible quotes: {{bibleCount}}</p>
        <p>Metal quotes: {{metalCount}}</p>
        <p>Total: {{quotes.length}}</p>
    </ng-container>

    <div>
        <p>
            All you have to do is guess if the verses are quoted from a modern translation of the bible 
            (<abbr title="New International Version of the Holy Bible">NIV</abbr>) 
            or from the lyrics of some metal song (including genres, such as Heavy Metal, Hard Rock, Black Metal, et cetera).
        </p>
        <p>For most users this is just a fun quiz. For those who want to test if they truly know the word of God, 
            they can use this to see how well they know it and how easily they get tempted by the devil 
            for thinking metal quotes are His word.</p>
        <p>Not all metal lyrics featured here are satanic. There is even some White Metal mixed in and for a serious challenge 
            there are some metal lyrics based on bible verses.
            And the devil made me change some of the quotes to make it more challenging. 
            Sometimes interpunctation is added or removed, so try to ignore that.
            It could even be a small change of words to make it rhyme or not rhyme or some other alteration to make it harder.
            In that case you can see the original after you answered.
        </p>
        <p style="text-align: center;"><strong (click)="fullpage_api.moveSectionDown()">Scroll down to continue!</strong></p>
    </div>
</div>
<div class="section">
    <h2>Scoring</h2>
    <p>
        The score you get is calculated as such:
    </p>
    <ul>
        <li>Correct answer: <strong style="color: green">+1 point</strong></li>
        <li>Incorrect answer:</li>
        <ul>
            <li>You did not recognise the holy word: <strong style="color: red">-2 points</strong></li>
            <li>You mistook metal lyrics for the bible: <strong style="color: red">-1 point</strong></li>
        </ul>
    </ul>
    <p style="text-align: center;"><strong (click)="fullpage_api.moveSectionDown()">Scroll down to begin the quiz!</strong></p>
</div>

<div *ngFor="let quote of quotes" class="container section">

    <div [ngClass]="{quote:true, 'long-quote': quote.quote.length>9}">
        <p *ngFor="let line of quote.quote">{{line}}</p>
    </div>


    <button (click)="bible(quote)" [ngClass]="{active: quote.answer==='bible', answered : quote.isAnswered(), bible: true, correct: quote.isCorrect(), wrong: quote.isAnswered()&&!quote.isCorrect() }" >Bible</button>
    <button (click)="metal(quote)" [ngClass]="{active: quote.answer==='metal', answered : quote.isAnswered(), metal: true, correct: quote.isCorrect(), wrong: quote.isAnswered()&&!quote.isCorrect() }" >Metal</button>

    <div *ngIf="quote.isAnswered()">

        <p *ngIf="quote.isCorrect()">Correct! 😈</p>
        <p *ngIf="!quote.isCorrect()">Wrong! 👿</p>

        <app-quote-metal *ngIf="quote.source === 'metal'" [quote]="quote"></app-quote-metal>
        <app-quote-bible *ngIf="quote.source === 'bible'" [quote]="quote"></app-quote-bible>

        <p *ngIf="!!quote.comment">{{quote.comment}}</p>

        <p *ngIf="!!quote.original && quote.quote!==quote.original">Note: The lines were slightly changed to make it more challenging.<br/>
        <button class="original" (click)="quote.quote=quote.original">show original verses</button>
        </p>
       
        <p *ngIf="!production">file: {{quote.id}}</p>

        <ng-container *ngIf="quotes[quotes.length-1] !== quote">
            <ng-container *ngIf="isNextAnswered(quote); then thenBlock else elseBlock"></ng-container>
                <ng-template #thenBlock><p class="keep scrolling"><a [href]="'#' + firstSkippedAnchor()">Go to first unanswered.</a></p></ng-template>
                <ng-template #elseBlock><p class="keep scrolling" (click)="fullpage_api.moveSectionDown()">Keep scrolling for more verses.</p></ng-template>
        </ng-container>
    </div>

    <div class="move up" (click)="fullpage_api.moveSectionUp()">👆🏾</div>
    <div class="move down" (click)="fullpage_api.moveSectionDown()">👇🏾</div>
      
    <div class="scorebox" (click)="fullpage_api.moveTo('results',0)">
        Score:
        <br/>
        <span>{{getTotalScore()}}</span>
    </div>
</div>


<div class="section">
<p>You made it to the end. </p>

<p>Your score: {{getTotalScore()}}</p>

<p>The best possible score is {{quotes.length}}. You got {{100 * getTotalScore() / quotes.length | number:'1.0-1'}} %</p>

<p>{{getResultDescription()}}</p>

<p *ngIf="hasSkipped()">
    Looks like you skipped some of the verses.<br/>
    <a [href]="'#' + firstSkippedAnchor()">Go to first skipped.</a>
</p>


</div>

</div>