@import url('https://fonts.googleapis.com/css?family=Stoke|UnifrakturCook:700&display=swap');

* {
    font-family: 'Stoke', serif;
    font-size: 16pt;
}

h1 {
    font-family: 'UnifrakturCook', cursive;
    text-align: center;
    font-size: 400%;
}