/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Stoke|UnifrakturCook:700&display=swap');
@import '~fullpage.js/dist/fullpage.min.css';

html, body {
    overflow-x: hidden !important;
}

body {
    background-color: bisque;
    font-family: 'Stoke', serif;
    font-size: 16pt;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 999px) {
    body {
        font-size: 12pt;
    }
}

@media screen and (max-height: 999px) {
    body {
        font-size: 12pt;
    }
    p {
       margin-bottom: 0;
       margin-top: 0.5em; 
    }
}
